@model BetTracker.Models.SingleGameBetDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SingleGameBetDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GameId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeTeam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeTeam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AwayTeam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AwayTeam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GamePick)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GamePick)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Odds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Odds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountBet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountBet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToWin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToWin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
