@model BetTracker.Models.SingleGameBetDetail

@{
    ViewBag.Title = "Details";
}

<div class="betdetails">

<h2>Game Bet Details</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BaseId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeTeam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AwayTeam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GamePick)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Odds)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountBet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToWin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.BaseId)
        </td>
        <td>
            @Html.DisplayFor(model => model.HomeTeam)
        </td>
        <td>
            @Html.DisplayFor(model => model.AwayTeam)
        </td>
        <td>
            @Html.DisplayFor(model => model.GamePick)
        </td>
        <td>
            @Html.DisplayFor(model => model.Odds)
        </td>
        <td>
            @Html.DisplayFor(model => model.AmountBet)
        </td>
        <td>
            @Html.DisplayFor(model => model.ToWin)
        </td>
        <td>
            @Html.DisplayFor(model => model.CreatedUtc)
        </td>
    </tr>
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BaseId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

</div>