@model BetTracker.Models.TeamSeasonBetDetail

@{
    ViewBag.Title = "Delete";
}

<div class="betdelete">

<h3>Are you sure you want to delete this bet?</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BaseId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Team)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeamPick)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Odds)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountBet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToWin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.BaseId)
        </td>
        <td>
            @Html.DisplayFor(model => model.Team)
        </td>
        <td>
            @Html.DisplayFor(model => model.TeamPick)
        </td>
        <td>
            @Html.DisplayFor(model => model.Odds)
        </td>
        <td>
            @Html.DisplayFor(model => model.AmountBet)
        </td>
        <td>
            @Html.DisplayFor(model => model.ToWin)
        </td>
        <td>
            @Html.DisplayFor(model => model.CreatedUtc)
        </td>
    </tr>
</table>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>