@model BetTracker.Models.TeamSeasonBetDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TeamSeasonBetDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TeamId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeamPick)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamPick)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Odds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Odds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountBet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountBet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToWin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToWin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TeamId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
