@model BetTracker.Models.PlayerGameBetDetail

@{
    ViewBag.Title = "Details";
}

<div class="betdetails">

<h2>Player Prop Details</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlayerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerTeam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerPick)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Odds)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountBet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToWin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.PlayerId)
        </td>
        <td>
            @Html.DisplayFor(model => model.PlayerName)
        </td>
        <td>
            @Html.DisplayFor(model => model.PlayerTeam)
        </td>
        <td>
            @Html.DisplayFor(model => model.PlayerPick)
        </td>
        <td>
            @Html.DisplayFor(model => model.Odds)
        </td>
        <td>
            @Html.DisplayFor(model => model.AmountBet)
        </td>
        <td>
            @Html.DisplayFor(model => model.ToWin)
        </td>
        <td>
            @Html.DisplayFor(model => model.CreatedUtc)
        </td>
    </tr>
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PlayerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

</div>